/*@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap")*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}
.header {
    background: #ED4C5C;
    min-height: 500px;
    text-align: center;
}
.content-box {
    /*position: relative;*/
    display: flow-root;
    justify-content: center;
    min-width: 520px;
    min-height: 510px;
    margin: auto;
}
.left-part {
    display: inline-block;
    color: white;
    font-family: 'Lato', sans-serif;
    
    position: absolute;
    margin-top: 110px;
    margin-left: 120px;
}
.title {
    font-weight: 600;
    font-size: 36px;
}
.text {
    font-size: 14px;
    margin-top: 50px;
    text-align: justify;
    margin-right: -75px;
}
.icons {
    margin-top: 60px;
    cursor: pointer;
    margin-right: 225px;
}
.icon-app {
    margin-left: 20px;
    cursor: pointer;
}
.windows {
    margin-bottom: 5px;
    cursor: pointer;
}
.right-part {
    display: inline-block;
    color: white;
    font-family: 'Lato', sans-serif;
    
    /*position: absolute;*/
    margin-left: 685px;
    margin-top: 94px;
}
.main {
    min-width: 1040px;
    min-height: 500px;
    left: 0px;
    top: 500px;
    background-color: white;
    text-align: center;
    font-family: Lato;
}
.container {
    /*position: absolute;*/
    display: flow-root;
    min-width: 520px;
    min-height: 510px;
}
.contact-text {
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    margin-top: 132px;
}
.contact-title {
    font-weight: 600;
    font-size: 36px;
    margin-right: 350px;
}
.contact-inf {
    margin-top: 50px;
    text-align: justify;
}
.contact-area {
    display: inline-block;
    
    margin-left: 750px;
    margin-top: 142px;
    /*position: relative;*/
}
.First-Name {
    width: 200px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 16px;
    padding-left: 20px;
}
.Last-Name {
    position: relative;
    margin-left: 20px;
    width: 200px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 16px;
    padding-left: 20px;
}
.Phone-number {
    position: relative;
    margin-top: 20px;
    width: 423px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 16px;
    padding-left: 20px;
}
.Select-sector {
    display: block;
    position: relative;
    margin-top: 20px;
    width: 423px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 16px;
    padding-left: 20px;

    background-repeat: no-repeat;
    -webkit-appearance: none;                     /*attention*/
    background: url(images/arrowtest.svg) no-repeat;
    background-size: 15px;
    background-position: right 26px top 18px;
    color: gray;
}
.submit-button {
    width: 160px;
    height: 50px;
    margin-top: 20px;
    border-radius: 6px;
    background-color: #ED4C5C;
    border: 1px solid #ED4C5C;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}
.footer {
    min-width: 1040px;
    min-height: 500px;
    left: 0px;
    top: 1045px;
    background: #FAFAFA;
    text-align: center;
}
.footer-content {
    display: flow-root;
    /*position: absolute;*/
    min-width: 520px;
    min-height: 500px;
    margin-left: -1300px;
}
.adress {
    position: absolute;
    display: inline-block;
    margin-top: 85px;
    margin-left: 161px;
    text-align: justify;
}
.adress-title {
    font-weight: bold;
    font-size: 18px;
    font-family: Lato;
}
.adress-inf {
    font-size: 12px;
    font-family: Lato;
    margin-top: 40px;
}
.copyright {
    font-size: 12px;
    font-family: Lato;
    margin-top: 200px;
}
.service {
    position: absolute;
    display: inline-block;
    margin-top: 85px;
    margin-left: 450px;
    text-align: justify;
}
.srevice-title {
    font-weight: bold;
    font-size: 18px;
    font-family: Lato;
}
.service-inf {
    cursor: pointer;
    font-family: Lato;
    font-size: 12px;
    margin-top: 40px;
}
.get-in-touch {
    position: absolute;
    display: inline-block;
    margin-top: 85px;
    margin-left: 700px;
    text-align: justify;
}
.get-in-touch-title {
    font-weight: bold;
    font-size: 18px;
    font-family: Lato;
}
.get-in-touch-inf {
    font-size: 12px;
    margin-top: 40px;
    font-family: Lato;
    cursor: pointer;
}
.tel {
    margin-top: 10px;
    font-family: Lato;
}
.get-in-touch-icons {
    margin-top: 10px;
    cursor: pointer;
}
.linkdelin {
    margin-left: 10px;
}
.twiter {
    margin-left: 10px;
}
.we-support {
    position: absolute;
    display: inline-block;
    margin-left: 950px;
    margin-top: 85px;
    text-align: justify;
}
.we-support-title {
    font-size: 18px;
    font-family: Lato;
    font-weight: bold;
}
.we-support-icons {
    margin-top: 40px;
}