.table {
    margin: auto;
}

.row {
    display: flex;
}

.block {
    border: 1px solid black;
    width: 3rem;
    height: 3rem;
}

.black {
    background-color: black;
}

.white {
    background-color: rgb(117, 115, 115);
}

.withFigure {
    background-image: url("./knight.svg");
    background-color: orange;
}