@media (max-width:768px) {
    
    body {
        max-width: 100%;
        margin: 0 auto;
        width: 100%;
        overflow-x: hidden;
    }
    .contaier {
        
    }
    
    /*header*/
    header {
        min-height: 350px;
    }
    .header-article {
        margin-left: 0px;
        background: #F4F6F9;
        font-size: 15px;
        min-height: 350px;
    }
    .container-one {
        margin-left: -4%;
        text-align: center;
    }
    .logo {
        justify-content: center;
    text-align: center;
    }
    .ad {
        font-size: 17px;
        text-align: center;
        margin-left: -1%;
    }
    .ad-inf {
        font-size: 12px;
    text-align: center;
    justify-content: center;
    margin-left: -1%;
    }
    .buttons {
        justify-content: center;
    margin-left: -3%
    }
    .black-button {
        width: 130px;
    }
    .appstore-under {
        font-size: 16px;
    }
    .google-under {
        font-size: 13px;
    }
    /*header*/


    /*second article*/
    .two {
        
    }
    .second-article {
        display: flex;
        flex-flow: wrap;
        background: #FFFFFF;
        /* margin-top: -79%; */
        max-height: 895px;
    
    }
    .left-part-two {
        order: 2;
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(247, 247, 247, 0) 67.14%), rgba(255, 255, 255, 0.5) url(images/background-second-article.png);
    background-repeat: no-repeat;
    margin-top: 8%;
    background-size: 671px;
    width: 332px;
    min-height: 360px;
    /* padding-left: 1%; */
    /* padding-right: 1%; */
    /* background-size: cover;*/
    }
    .short-match-inf {
        width: 247.21px;
    height: 149.58px;
    }
    .match-inf {
        margin-top: 11%;
    margin-left: 10%;
    }
    .data {
        font-size: 11.5188px;
    line-height: 15px;
    }
    .clubs {
        font-weight: 500;
        font-size: 12.3539px;
        line-height: 16px;
    }
    .arsenal {
        width: 48.76px;
        height: 57.53px;
    }
    .chelsy {
        width: 57.66px;
        height: 57.53px;
    }
    .type-of-match {
        font-size: 10.9812px;
    line-height: 14px;
    }
    .teams-logo {

    }
    .under-line-two {
        min-width: 247.21px;
        margin-top: 12%;
        max-height: 33.8px;
    }
    .setting-two {
        font-size: 11.8812px;
    margin-top: 5%;  
    }
    .video {
        margin-left: 9%;
    }
    .img-video {
        width: 247.21px;
    height: 149.58px;
    }
    .right-part-two {
        order: 1;
        text-align: center;
        margin-top: 10%;
        padding-left: 1%;
        padding-right: 1%;
    }
    .what-it-does {
        font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    }
    .second-title-two {
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 37px;
    }
    .main-inf-two {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 23px;
        /* width: 301px; */
        /* margin-left: 7.5%; */
        text-align: center;
        justify-content: center;  
    }
    .learn-more {
        font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    }
    /*переключатель*/
    .switch {
        width: 53px;
    height: 27px;
    margin-top: 4%;
    }
    .slider:before  {
        width: 20px;
        height: 20px;
    }
    /*second article*/


    /*third article*/
    .three {
        display: block;
    /* max-width: 332px;*/
    }
    .third-article {
        text-align: center;
    background: rgb(255, 255, 255);
    display: flow-root;
    margin-left: -2%;
    }
    .get-started {
        font-size: 16px;
    line-height: 21px;
    margin-top: 10%;
    }
    .second-title-three {
        font-size: 25px;
    line-height: 37px;
    }
    .main-three {
        font-size: 16px;
    line-height: 23px;
    /* width: 269px; */
    /* margin-left: 11%; */
    text-align: center;
    /* height: 76px; */
    font-style: normal;
    font-weight: normal;
    /* font-size: 22px; */
    line-height: 23px;
    /* width: 301px; */
    /* margin-left: 7.5%; */
    text-align: center;
    justify-content: center;   
    }
    .phone-img-three {
                /* margin-left: 16%; */
    background: url(images/phn2.png);
    background-size: 43%;
    background-repeat: no-repeat;
    width: 509px;
    min-height: 500px;
    background-position-x: 50%;
    /* background-position-y: -253%; */
    /* margin-top: 5%; */
    width: 100%;
    /* margin-left: -4%; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    }
    /*third article*/

    /*fourth article*/
    .four {
            /* max-width: 332px; */
    background: #FAFAFA;
    }
    .article-four {
        background: #FAFAFA;
    margin-left: -8%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* max-width: 332px;*/
    }
    .fourth-title {
        font-size: 16px;
        /* width: 254px; */
        margin-left: 16%;
        line-height: 37px;
        text-align: center;
        color: black;
        justify-content: center;
    }
    .first-row  {
        display: block;
    text-align: center;
    }
    .comp {
        margin-bottom: 3%;
    }
    .first {
        text-align: center;
        width:initial;
    }
    ul li span {
        visibility: hidden;
    }
    .bell {
        margin-bottom: 3%;
    }
    .second {
        width:initial;
    }
    .hd {
        margin-bottom: 3%;
    }
    .third {
        width:initial;
    }
    .second-row {
        display: block;
    text-align: center;
    }
    .flag {
        margin-bottom: 3%;
    }
    .fourth {
        height: 93px;
        width: initial;
        margin-left: 0;
    
    }
    .phones {
        margin-bottom: 3%;
    }
    .fifth {
        width:initial;
    }
    .statistic {
        margin-bottom: 3%;
    }
    .sixth {
        width:initial;
    }
    .third-row {
        display: block;
    text-align: center;
    }
    .download {
        margin-bottom: 3%;
    }
    .seventh {
        width:initial;
    }
    .people {
        margin-bottom: 3%;
    }
    .eighth {
        width:initial;
    }
    .setting {
        margin-bottom: 3%;
    }
    .nineth {
        margin-top: -5%;
        width:initial;
    }
    li {
        color: black;
        list-style: none;
    }
    .li-icon {
        fill: #00ADEE;
    }
    /*fourth article*/ 


    /*fiveth article*/
    .all {
        margin-left: -4%;
    }
    .container-five {
        margin-left: 23px;
    }
    #switch1:checked ~ #controls label:nth-child(2), 
    #switch2:checked ~ #controls label:nth-child(3),
    #switch3:checked ~ #controls label:nth-child(4),
    #switch4:checked ~ #controls label:nth-child(5),
    #switch5:checked ~ #controls label:nth-child(1) {
        margin-right: 22px;
    margin-top: 89px;
    z-index: 9;
    transform: translateY(-35px);
    }
    #slides article {
        width: 100% /*было 20*/
    }
    .image {
        display: flex;
    }
    
    /*fiveth article*/
    
    
    /*sixth article*/
    .six-article {
           /* max-width: 332px; */
    justify-content: center;
    }
    .title-six {
        font-size: 21px;
    line-height: 37px;
    margin-left: 4%;
    }
    .companies {
        text-align: -webkit-center; 
    justify-content: center;
    flex-direction: column;
    margin-left: 38%;
    max-width: 248px;
    }
    .companies div {
        margin-left: -21%;
    }
    .sport-tv {
        width: 147px;
    height: 49px;
    margin-left: -30.5%;
    }
    .sport {
        width: 102px;
    height: 32px;
    margin-top: 1%;
    margin-right: 8%;  
    }
    .second-companies {
        margin-left: -12%;
    }
    .nbc {
        width: 69px;
        height: 58px;
        margin-left: -7%;
        margin-top: 2%;
    }
    .designer {
        width: 110px;
    height: 32px;
    margin-left: 8%;
    margin-top: 5%;   
    }
    .dn {
        width: 48px;
        height: 48px;
        margin-left: 16%;
        margin-top: 3%;
    }
    .sky-sport {
        width: 210px;
        height: 34px;
        margin-left: -19%;
        margin-top: 9%;
    
    }
    /*sixth article*/

    /*seven article*/
    .seven {
        
    min-width: 332px;
    text-align: center;
    justify-content: center;
    }
    .seven-article {
        display: flex;
    flex-flow: wrap;
    /* max-width: 332px; */
    /* min-width: 332px;*/
    }
    .left-part {
        order: 2;
    min-width: 332px;
    }
    .right-part {
        order: 1;
    /* max-width: 332px; */
    margin-left: 15%;
    }
    .seven-title {
        font-size: 22px;
        line-height: 37px;
        text-align: center;
        margin-left: -5%;
    }
    .seven-text {
    height: 200px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-left: -2%;
    }
    .last-buttons {
        margin-left: -6%;
        margin-bottom: 11%;
    }
    .seven-picture-football {
        
    }
    /*seven article*/

    /*footer article*/
    footer {
        
    }
    .footer {
        display: block;
    margin-top: -6px;
    
    }
    .footer-logo {
        margin-left: -2%;
        margin-top: 4%;
    }
    .nav-social {
        display: flex;
    flex-flow: wrap;
    max-width: 330px;
    min-width: 330px;
    }
    .social {
        order: 1;
        margin-left: 2.75%;
        margin-top: 3%;
    }
    nav {
        order: 2;
        margin-top: 3%;
        margin-left: 0%;
    }
    .ted {
        margin-left: -10%;
    }
    .nav {
        
    }
    .ned {
        margin-left: 3%;
    }
    .dop-cont {
        display: flow-root;
    }
    /*footer article*/
}
@media (max-width: 366px) {
    .seven-text {
        max-width: 350px;
    }
    .main-three {
        width: 331px;
        margin-left: 2%;    
    }
    .phone-img-three {
            /* margin-left: 16%; */
    background: url(images/phn2.png);
    background-size: 63%;
    background-repeat: no-repeat;
    width: 509px;
    background-position-x: 10%;
    }
    .main-three {
        width: 331px;
        margin-left: -1%;
        font-size: 20px;
    }
    .ball {
        margin-left: 5%;
    }
}
@media (max-width: 500px) {
    .seven-text {
        max-width: 410px;
    }
    .main-three {
        width: 331px;
        margin-left: 9%;    
    }

}
@media (max-width: 450px) {
    .main-three {
        width: 331px;
        margin-left: 13%;    
    }


}
@media (max-width: 425px) {
.phone-img-three {
    /* margin-left: 16%; */
    background: url(images/phn2.png);
    background-size: 77%;
    background-repeat: no-repeat;
    width: 509px;
    min-height: 500px;
    background-position-x: 50%;
    /* background-position-y: -253%; */
    /* margin-top: 5%; */
    width: 100%;
    /* margin-left: -4%; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    }
    .companies {
        text-align: -webkit-center;
        justify-content: center;
        flex-direction: column;
        margin-left: 26%;
        max-width: 248px;
    }
    all {
        margin-left: -4%;
    }
    .container-five {
        margin-left: 23px;
    }
    #switch1:checked ~ #controls label:nth-child(2), 
    #switch2:checked ~ #controls label:nth-child(3),
    #switch3:checked ~ #controls label:nth-child(4),
    #switch4:checked ~ #controls label:nth-child(5),
    #switch5:checked ~ #controls label:nth-child(1) {
        margin-right: 22px;
    margin-top: 89px;
    z-index: 9;
    transform: translateY(-35px);
    }
    #slides article {
        width: 100% /*было 20*/
        margin-left: 6%;
    }
    .image {
        display: flex;
    }

}
@media (max-width: 375px) {
    .seven-text {
        max-width: 322px;
    }
    .main-three {
        width: 331px;
        margin-left: 5%;
        font-size: 20px;  
    }

}
@media (max-width: 320px) {
    .main-three {
        width: 275px;
        margin-left: 9%;
        font-size: 18px;
    
    }
    .right-part {
        order: 1;
        /* max-width: 332px; */
        margin-left: 1%;
    }

}