/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}
body {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    
}
/*header*/
header {
    min-height: 665px;
    background: #F4F6F9 url(images/background-1.png);
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    background-size: 1441px;
}
.header-article {
    position: absolute;
    min-width: 100%;

}
.container-one {
    margin-top: 9%;
}
.logo {
    display: flex;
    margin-left: -2%;
}
.Sports {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #5282F0;
}
.content-one {
    margin-top: 3%;
    margin-left: 8%;
}
.ad {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    
    /* #333333 */
    
    color: #333333;
}
.ad-inf {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
    margin-top: 1%;
}
.buttons {
    display: flex;
    margin-top: 3%;
}
.black-button {
    width: 156.05px;
    height: 47px;
    
    background: #000000;
    border-radius: 7.33503px;
    border: none;
    display: flex;
}
.appstore-inf {

}
.appstore-up {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    
    color: #FFFFFF;
}
.appstore-under {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21.2716px;
    line-height: 25px;
    /* identical to box height */
    
    color: #FFFFFF;
}
.google-play {
    margin-left: 4%;
}
.googleplay-inf {

}
.google-up {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11.0025px;
    line-height: 13px;
    /* identical to box height */
    
    color: #FFFFFF;
}
.google-under {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17.6041px;
    line-height: 21px;
    
    color: #FFFFFF;
}
/*header*/


/*second article*/
.second-article {
    min-width: 100%;
    min-height: 592px;
    top: 665px;
    display: flex;
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(247, 247, 247, 0) 67.14%), rgba(255, 255, 255, 0.5) url(images/background-second-article.png);
    background-repeat: no-repeat;

    background-size: 803px;
    justify-content: space-around;
    align-items: baseline;
}
.left-part-two {
    min-width: 31%;
    display: flow-root;
    
}
.match-inf {
    margin-left: 11%;
    margin-top: 7%;
}
.arsenal {
    z-index: 10;
}
.chelsy {
    z-index: 18;
    transform: translateX(-31px);
}
.short-match-inf {
    min-height: 149.58px;
    background: #FFFFFF;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: flow-root;
    z-index: 2;
    position: relative;
    max-width: 372px;
}
.inf-container-two {
    display: flex;
    margin-top: 7%;
    margin-left: 4%;
}
.uper-part-two {

}
.data {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16.7833px;
    line-height: 22px;
    color: #4F4F4F;
}
.clubs {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-top: 7%;
}
.type-of-match {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin-top: 9%;
}
.teams-logo {
    margin-top: 3%;
    margin-left: 10%;
    display: flex;
}
.under-line-two {
    min-width: 322px;
    min-height: 49.27px;
    background: #EEEEEE;
    border-radius: 0px 0px 4px 4px;
    margin-top: 12%;
    display: flex;
}
.setting-two {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18.8812px;
    line-height: 25px;
    color: #4F4F4F;
    margin-top: 3%;
}
.video {
    z-index: 1;
    margin-top: -10%;
    margin-left: 22%;

}
.right-part-two {
    float: right;
}
.what-it-does {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}
.second-title-two {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    margin-top: 4%;
}
.main-inf-two {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin-top: 7%;
    color: #4F4F4F;
}
.first-part-two {

}
.second-part-two {
    margin-top: 5%;

}
.learn-more {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    margin-top: 7%;
}

/*переключатель*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 2%;
    margin-left: 14%;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/*second article*/


/*third article*/
.three {
    display: flex;
}
.third-article{
    max-width: 1440px;
    min-height: 456px;
    margin-top: 4%;
    margin-left: 4%;
    z-index: 2;

    /*background: url(images/background-three.png);
    background-repeat: no-repeat;
    background-size: 1100px;
    background-position-x: 88px;
    background-position-y: -33px;*/
}
.get-started{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}
.second-title-three{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    margin-top: 4%;


}
.main-three{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
    margin-top: 4%;
}
.uper-three{
    margin-top: 4%;
}
.under-three{
    margin-top: 5%;
}
.learn-more {

}
.phone-img {
    width: 200px;
}
.phone-img-three {
    margin-left: 16%;
    background: url(images/phn.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 509px;
}
/*third article*/

/*fourth article*/
.four {
    max-width: 1716%;
    min-height: 762%;
    background: url(images/background-four.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flow-root;
}

.article-four {
    max-width: 1716px;
    min-height: 735px;
    margin-top: 5%;
}
li {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    /* #FFFFFF */

    color: #FFFFFF;
}
svg {
    margin-left: 10%;
}
.fourth-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 1%;
}
.first-row {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.first {
    height: 47px;
    width: 311px;
    margin-top: -5%;
}
.second {
    height: 93px;
    width: 311px;
    margin-top: -5%;
}
.third {
    height: 93px;
    width: 311px;
    margin-top: -5%;
}
.second-row {
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
}
ul li span {
    margin-right: 2%;
}
.fourth {
    width: 252px;
    width: 311px;
    margin-top: -5%;
}
.fifth {
    height: 116px;
    width: 311px;
    margin-top: -5%;
}
.sixth {
    height: 70px;
    width: 311px;
    margin-top: -5%;
}
.third-row {
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
}
.seventh {
    margin-top: -5%;
    height: 70px;
    width: 311px;
}
.eighth {
    height: 47px;
    width: 311px;
    margin-top: -5%;
}
.nineth {
    margin-top: -5%;
    height: 70px;
    width: 311px;
}
/*fourth article*/


/*fiveth article*/
.five {
    min-height: 260px;
}
#slider { /*положение слайдера*/
    position: relative;
	/*text-align: center;*/
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 7%; /*было 20*/
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('images/svg/arrow-left.svg') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
    width: 68px;
    margin-top: 14%;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('images/svg/arrow-right.svg') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
    width: 68px;
    margin-top: 14%;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}








.up-first-five {
    display: flex;
}
.avatar {
    width: 30px;
    height: 30px;
    margin-top: 3.5%;
    margin-left: 4%;
}
.blue-twitter {
    width: 15px;
    height: 12px;
    margin-top: 6%;
    margin-left: 41%;
}
.name-first-five {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */
    margin-left: 3%;
    color: #333333;
    margin-top: 5%
}
.down-first-five {

}
.text-first-five {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    width: 279px;
    height: 37px;
    /* #4F4F4F */
    margin-left: 4%;
    color: #4F4F4F;
    margin-top: 3%;
}
.container-five {
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 35%;
    width: 309px;
    height: 161px;
    background: #FFFFFF;
}
.all {
    margin-top: 2%;
}
/*fiveth article*/


/*sixth article*/
.six {
    min-height: 278px;
}
.six-article {
    min-height: 278px;
    background: #FAFAFA;
    display: flow-root;
}
.title-six {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    margin-top: 7%;
    color: #333333;
    text-align: center;
}
.companies {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: -11%;
}
.companies div {
    display: flex;
    min-width: 100;
    /* margin-bottom: 10%; */
    /* margin-top: -1%; */
    padding-top: -49%;
    padding-bottom: -3%;
    margin-left: -18%;
    min-width: 38%;
}
.sport-tv {
    margin-top: -2%;
}
.sport {
    margin-top: -0.5%;
    /* margin-left: 6%; */
    padding-left: 14%;
}
.nbc {
    margin-top: -2%;
    margin-top: -4%;
    /* padding-right: 0%; */
    margin-left: -16%;
}
.designer {
    margin-top: -1.5%;
    padding-left: 6%;
}
.dn {
    margin-top: -3.5%;
    padding-left: 6%;
}
.sky-sport {
    margin-top: -0.75%;
    margin-left: -18%;
}
/*sixth article*/


/*seven article*/
.seven {
    min-width: 487px;
}
.seven-article {
    display: flex;
    min-width: 487px;
}
.left-part {

} 
.right-part  {
    margin-left: 9%;
}
.seven-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    margin-top: 20%;
    color: #333333;
}
.seven-text {
    max-width: 535px;
    height: 125px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    margin-top: 8%;
    color: #4F4F4F;
}
.last-buttons {
    margin-top: 6%;
}
/*seven article*/


/*footer article*/
.footer {
    min-height: 127px;
    left: 0px;
    top: 3902px;
    background: #00ADEE;
    display: flex;
    z-index: 2;
    margin-top: -4px;
    justify-content: space-around;
}
.dop-cont {
        /* display: flex;*/
}
.footer-logo {
    display: flex;
    margin-top: 3.75%;
    margin-left: -16%;
}
.Sports-footer {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
li {
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */


    /* #FFFFFF */

    color: #FFFFFF;
}
.ted {
    margin-left: -145%;
    cursor: pointer;
    color: white;
}
.ned {
    margin-left: 15%;
    cursor: pointer;
    color: white;
}
nav {
    margin-left: 66%;
    margin-top: -4.5%;
}
.nav {
    display: flex;
    color: white;
}
.social {
    margin-left: 88%;
    margin-top: -3.5%;
}
.facebook {
    width: 25px;
}
.twitter {
    width: 25px;
}
.instagram {
    width: 25px;
}
.nav-social {
    max-width: 100%;
    min-width: 1000px;
}
/*footer article*/